.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #00000000;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}


.navbar-menu {
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1e616e0f;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 2rem;
    border: 1px solid #11353c37;
}

.navbar-item {
    list-style: none;
}

.link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #00d5ff;
}

/* Persistent Highlight state (Highlighter) */
.active-link {
    color: #5ce1ff;
    /* Matches the light blue in your screenshot */
    font-weight: bold;
    border-bottom: 2px solid #5ce1ff;
    /* Optional: adds a visual underline indicator */
}


.navbar-btn {
    background-color: #1c515b60;
    color: #fff;
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 2rem;
    cursor: pointer;
}