.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #00000000;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-logo{
    font-size: 1.5rem;
    font-weight: bold;
}


.navbar-menu{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff0f;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}
